<%-include("heading")-%>
    <div class="container abb paragraph">

        <img src="photo.jpg" alt="myself" height="200">
        <p class="about">
             Hii! Myself Shalini. I am a student and a full stack web developer. I am currently pursuing CSE(AI&ML)
            from GJUS&T, Hisar. It's an attempt on my side to make a website which can be useful to us. <br>Do check my portfolio as well. <br> <a class = "a" href="https://shalinichabarwal.github.io/portfolio/">My portfolio</a> <br> Have a good
            day!!
        </p>
    </div>
    </body>

    </html>