<%-include("heading")-%>
<form action="/compose" method="post">
    <div class="form-group container form">
        <div class="title1">
        <label>Title</label>
        <input type="text" class="form-control " name="title" ></div>
        <div class="title1">
        <label>Post</label>
        <textarea class="form-control" rows="5" name="body"></textarea></div>
        <button type="submit" class="btn btn-secondary">Publish</button>

    </div>
    
</form>