<%-include("heading")-%>
<div class="container top paragraph">
    <h2>Contact Us</h2> <br>
    <p>
        Hii! Myself Shalini. I am a student and a full stack web developer. I am currently pursuing CSE(AI&ML)
       from GJUS&T, Hisar. It's an attempt on my side to make a website which can be useful to us. <br>Do check my portfolio as well. <br> <a class = "a" href="https://shalinichabarwal.github.io/portfolio/">My portfolio</a> <br>
   </p>
    <p>Email : <a class="a" href="mailto: shalinichabarwal@gmail.com">shalinichabarwal@gmail.com</a></p>
    <p>LinkedIn: <a class="a" href="https://www.linkedin.com/in/shalini-chabarwal/">https://www.linkedin.com/in/shalini-chabarwal/</a></p>
   <p>Github: <a class="a" href="https://github.com/shalinichabarwal">https://github.com/shalinichabarwal</a></p>
<p>Have a good day!!</p>
</div>
    
</body>
</html>
