<%-include("heading")-%>
<div class="container top paragraph">
    <h2>Contact Us</h2> <br>
    <p>Email : <a class="a" href="mailto: shalinichabarwal@gmail.com">shalinichabarwal@gmail.com</a></p>
    <p>LinkedIn : <a class="a" href="https://www.linkedin.com/in/shalini-chabarwal/">https://www.linkedin.com/in/shalini-chabarwal/</a></p>
   <p>Github : <a class="a" href="https://github.com/shalinichabarwal">https://github.com/shalinichabarwal</a></p>
   <p>My website : <a class = "a" href="https://shalinichabarwal.github.io/My-website/">https://shalinichabarwal.github.io/My-website/</a> </p>
<p>Have a good day!!</p>
</div>
    
</body>
</html>
