<%-include("heading")-%>

    <div class="top paragraph container">
        
        <div class="heart">
            <i class="fa-solid fa-heart"></i>
        </div>
        <p class="pp">
            Hello sunshine! <br>
            This is an open platform so that you can share your feelings, thoughts, experiences and theories about the world. <br>
            To see the existing content, go to thoughts or quotes tab. <br> 
            For writing your own, just click on Compose and start writing. <br>
            We would love to read yours. <br>
            
        
        </p>

    </div>
   
    </body>

    </html>
