.paragraph{
    margin-top: 4%;
}
.title{
    color: white;
    margin-left: 20px;
}
.upper{
    margin-left: 50%;
}
.form{
    margin-top: 5%;
}

.title1{
    margin-bottom: 2px;
}
img{
    float: left;
}
.post{
    margin-top: 3%;
}
.body{
    margin-bottom: 0px;
}
.delete{
    margin-left: 95%;
}
.top{
    color: black;
    font-size: 20px;
}
.a{
    color: white;
}
@media(max-width:993x){
    img{
        float: none;
    }
}
.abb{
    display: flex;
}
