.paragraph{
    margin-top: 4%;
}
.title{
    color: white;
    margin-left: 20px;
}
.upper{
    margin-left: 50%;
}
.form{
    margin-top: 5%;
}

.title1{
    margin-bottom: 2px;
}
img{
    float: left;
}
.post{
    margin-top: 3%;
}
.body{
    margin-bottom: 0px;
}
.delete{
    margin-left: 95%;
}
.top{
    color: black;
    font-size: 20px;
}
.pp{
    margin-left: 8%;
}
.a{
    color: white;
}
@media(max-width:993x){
    img{
        float: none;
    }
}
.abb{
    display: flex;
}

.heart{
    position: absolute;
    margin-top: 3%;
    transform: translate(-50%,-50%);

}
i{
    color: #000;
    font-size: 90px;
    animation: beat 0.9s infinite;
    text-shadow:
        0 0 5px rgb(90, 85, 85),
        0 0 45px rgb(90, 85, 85),
        0 0 90px rgb(90, 85, 85)
    ;
}
@keyframes beat{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.15);
    }
    40%{
        transform: scale(1.4);
    }
}
